<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="/css/mystyle.css">
</head>
<body>
    <header>
     
    </header>
    <main>
      <p>Here's some information about our website...</p>
    </main>
    <footer>
      <p>&copy; 2023 My Website</p>
    </footer>
  
</body>
</html>
