<!DOCTYPE html>
<html>
<head>
  
  
</head>
<body>
    
    <main>
        <h3><span align="left">Welcome to <%= session.username %></span><span align="right"><a href="/logout">Logout</a></span></h3>
      </main>
  
</body>
</html>
